<?xml version="1.0" encoding="UTF-8"?>
<config>
    <ismgHost>211.136.112.114</ismgHost>
    <ismgPort>7891</ismgPort>
    <connectionNumber>1</connectionNumber>
    <spId>909159</spId>
    <sharedSecret>3/4=0.</sharedSecret>
    <qName>MTQ</qName>
    <gwId>1</gwId>
    
    <!-- MT连接数 -->
    <mtConnectionNumber>1</mtConnectionNumber>

    <!-- MO连接数 -->
    <moConnectionNumber>1</moConnectionNumber>

    <msgIdReverse>false</msgIdReverse>

    <!-- 是否支持长短信协议，若不支持，则分割为多条进行发送 -->
    <supportLongMsgProtocol>false</supportLongMsgProtocol>

    <!-- 链路测试间隔，产品环境中设置为10 -->
    <activeTestInterval>10</activeTestInterval>
    <!-- 链路测试超时时间 -->
    <activeTestTimeout>60</activeTestTimeout>
    <!-- 链路测试失败最大重试次数 -->
    <activeTestMaxRetry>3</activeTestMaxRetry>

    <!-- 消息发送超时时间 -->
    <transportTimeout>60</transportTimeout>
    <!-- 消息发送失败最大重试次数 -->
    <transportMaxRetry>3</transportMaxRetry>

    <!--滑动窗口大小（流量控制）-->
    <trafficControl>16</trafficControl>

    <!-- 查询状态超时时间 -->
    <queryTimeout>10</queryTimeout>
</config>