<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>GBK</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{50} - %msg%n</pattern>
		</layout>
	</appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>GBK</Encoding>
		<File>../logs/cmppgw.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/cmppgw.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
        </rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{50} - %msg%n</pattern>
		</layout>
	</appender>

    <logger name="org.springframework">
		<level value="WARN" />
	</logger>
    <logger name="org.apache">
        <level value="WARN"/>
    </logger>
    <logger name="com.opensymphony">
        <level value="WARN"/>
    </logger>
    <logger name="opensymphony.oscache">
        <level value="WARN"/>
    </logger>
    <logger name="com.ibatis">
        <level value="DEBUG"/>
    </logger>
    <logger name="java.sql">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.mortbay">
        <level value="WARN"/>
    </logger>
    <logger name="org.logicalcobwebs.proxool">
        <level value="DEBUG"/>
    </logger>

    <root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>

